VITE_HACKFUSION_APIKEY=your_firebase_api_key
VITE_HACKFUSION_AUTHDOMAIN=your_project.firebaseapp.com
VITE_HACKFUSION_DATABASEURL=https://your_project-default-rtdb.firebaseio.com
VITE_HACKFUSION_PROJECTID=your_project_id
VITE_HACKFUSION_STORAGEBUCKET=your_project.appspot.com
VITE_HACKFUSION_MESSAGINGSENDERID=your_messaging_sender_id
VITE_HACKFUSION_APPID=your_app_id
