@import './assets/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    background:url(../public/lod.jpg);
    background-position: center;
}
.transition{
    transition: all 0.2s ease-in-out;
}
.hide{
scrollbar-width: none;
}
.shadow{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.otp{
    width: 50px !important;
    height: 40px !important;
    border-radius: 15%;
}
.otpContainer>span{
    width: 10% !important;
}

.img{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
@media (max-width: 1340px) {
    .custom-hide {
      display: none !important;
    }
  }
  
.pdf-mode {
  background: #ffffff !important;
  color: #111111 !important;
}

.pdf-mode * {
  background-color: transparent !important;
  color: #111111 !important;
  border-color: #cccccc !important;
}
  